@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');
@import "tailwindcss";

:root {
  --light: #fcfafe;
  --blue: #188aec;
  --dark: #282046;
  --tint30: rgba(24, 138, 236, 0.3);
  --tint40: rgba(24, 138, 236, 0.4);
  --shadow-light: 0 18px 40px rgba(40,32,70,.25);
}

@theme inline {
  --color-light: var(--light);
  --color-blue: var(--blue);
  --color-dark: var(--dark);
  --color-tint30: var(--tint30);
  --color-tint40: var(--tint40);
  --shadow-100: var(--shadow-light);
}

* {
  font-family: "Preahvihear", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(
    180deg,
    var(--light) 0,
    var(--light) 720px,
    var(--blue) 100%
  );
  color: var(--dark);
}

.hide_scroll::-webkit-scrollbar {
  display: none;
}
